<!doctype html>
<html>
    <head>
    {% block head %}
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    </head>
    <body>
        <div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">GAS</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="upload">Upload JSON</a></li>
                            <li><a href="fetch">Fetch all</a></li>
                            <li><a href="https://jope.sis.uta.fi/login.html">Johtamispeli</a></li>
                            <li><a href="delete_entries">Delete All Files</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <div id="content">
            {% block content %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            {{message}}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endblock %}
        </div>
    </body>
</html>