{% extends "base.html" %}
{% block title %}Fetchall{% endblock %}
{% block content %}
    <div id="main" class="container">
        <div id="keys">
            <ul>
                {%  for prop in names %}
                    {% if prop not in keydict %}
                        <a href='/entries/{{prop}}'><li id="json-key">{{prop}}</li></a>
                    {% endif %}
                {% endfor %}
            </ul>
            {% for key in keydict %}
            <ul>
                <li>{{key}}</li>
                {% set list = keydict[key] %}
                <ul >
                    {% for key2 in list %}
                        <a href='/entries/{{key2}}'><li>{{key2}}</li></a>
                    {% endfor %}
                </ul>
            </ul>
            {% endfor %}
        </div>
        <div id="fetch">
            <pre id = "show">
                <code>{% print(json) %}</code>
            </pre>
        </div>
    </div>
{% endblock %}








